main {
  background-image: url("../img/contacto/pacman.jpg");
}

input {
  border: none;
  border-bottom: 1px solid black;
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

textarea {
  resize: none !important;
  overflow-y: auto;
  color: black;
}

.btn {
  background-color: rgb(233, 233, 233) !important;
  border: 1px solid black !important;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  margin: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  font-size: 1.5em;
}

h2,
label {
  color: black;
  display: block !important;
}