main {
    background-color: rgb(20, 25, 35);
    font-size: 3vh;
    padding: 1em;
}

main .row {
    justify-content: space-around;
}

div.card img {
    width: 100%;
    height: auto;
}

div.card {
    background-color: rgb(35, 40, 42);
    font-size: 1.8vh;
    letter-spacing: -0.025em;
    height: 100%;
    box-shadow: 1em 0em 1em rgba(0, 0, 0, 0.397);
    padding: 1em;
    width: auto;
}

.col-12 {
    margin-bottom: 1em;
}

div.card h2 {
    font-size: 2vh;
    letter-spacing: 0.1em;
}