main {
    background-color: rgb(20, 25, 35);
    font-size: 3vh;
}

h2 {
    text-align: center;
    padding: 3em 1em;
}

h3,
h4 {
    padding: 1em 0em;
}

p {
    text-align: justify;
    padding: 0.5em 0em;
}

.container-noticia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.img-noticia {
    padding: 18vw 30vw;
}

.img-noticia.img-1 {
    background-image: url("../img/noticias/unmetal.jpg");
    background-position: center;
    background-size: cover;
}

.img-noticia.img-2 {
    background-image: url("../img/noticias/resident-evil-revelations-hd.jpg");
    background-position: center;
    background-size: cover;
}

.img-noticia.img-3 {
    background-image: url("../img/noticias/alien-isolation.jpg");
    background-position: bottom;
    background-size: cover;
}

.noticia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 48em;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(35, 40, 42);
    box-shadow: 1em 0em 1em rgba(0, 0, 0, 0.397);
    padding: 1em;
    margin: 1em auto;
}

@media (min-width:724px) {
    .img-noticia {
        padding: 10rem 20rem;
    }
}