main {
    background-color: rgb(20, 25, 35);
    background: linear-gradient(45deg, rgb(13, 17, 24) 0%, rgb(8, 23, 61) 35%, rgb(10, 13, 19) 100%);
    
}

h3,
h4 {
    font-size: 3vh;
    padding: 1em 0em;
}

main p {
    font-size: 2.7vh;
    text-align: justify;
    padding: 0.5em 1em;
}

.container-noticia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.img-noticia {
    padding: 18vw 30vw;
    margin-top: 2em;
}

.img-noticia.img-1 {
    background-image: url("../img/noticias/unmetal.jpg");
    background-position: center;
    background-size: cover;
}

.img-noticia.img-2 {
    background-image: url("../img/noticias/resident-evil-revelations-hd.jpg");
    background-position: center;
    background-size: cover;
}

.img-noticia.img-3 {
    background-image: url("../img/noticias/alien-isolation.jpg");
    background-position: bottom;
    background-size: cover;
}

.noticia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(35, 40, 42);
    box-shadow: 1em 0em 1em rgba(0, 0, 0, 0.397);
    padding: 1em;
    margin: 1em auto;
}

@media (min-width:724px) {
    .img-noticia {
        padding: 10rem 20rem;
    }
}