main {
    background-color: rgb(20, 25, 35);
    background: linear-gradient(45deg, rgb(13, 17, 24) 0%, rgb(8, 23, 61) 35%, rgb(10, 13, 19) 100%);
    font-size: 2vh;
    padding: 1em;
}

img {

    max-width: 100%;

}

div.fila {

    margin-top: 15px !important;
    margin-bottom: 15px !important;
    background-color: rgb(35, 40, 42);
    font-size: 2vh;
    letter-spacing: -0.025em;
    height: 100%;
    box-shadow: 1em 0em 1em rgba(0, 0, 0, 0.397);
    padding: 1em;
    align-items: center;
    justify-content: center;

}

.infoProyecto,
.textoProyecto {

    padding: 1em;

}

.infoProyecto ul li {

    letter-spacing: 0.025em;
    list-style: none;
    margin-top: 10px;
    font-size: 1.2em;

}