@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Zen Kaku Gothic New', 'Lato', 'Segoe UI', Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

body {
    background-color: rgb(20, 25, 35);
    color: rgb(233, 249, 255);
}

header {
    background-color: rgb(35, 40, 42);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

footer {
    background-color: rgb(35, 40, 42);
    box-shadow: -5px -5px 5px rgb(0, 0, 0, 0.2);
}

.nav-link {
    padding: 0.5em !important;
}

.nav-link>a {
    font-size: 1.3em;
    color: rgb(233, 249, 255);
    text-decoration: none;
}

.nav-link>a:hover {
    color: rgb(222, 230, 220);
}

@media (min-width:560px) {
    nav {
        margin: 0 50px;
    }

    .nav-link {
        padding: 1em !important;
    }
}